In [5]:
'''Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple  '''

In [6]:
str='pankaj'

In [7]:
str

'pankaj'

In [10]:
type(str)

str

In [8]:
l=['pankaj', 345, True, 4+6j, [4,3,'k'], 4.7, 'i']

In [9]:
l

['pankaj', 345, True, (4+6j), [4, 3, 'k'], 4.7, 'i']

In [12]:
float_value=67.45

In [11]:
type(l)

list

In [13]:
type(float_value)

float

In [25]:
t=(3,'pankaj', 5.3, [3,2, 'pankaj', ], 't', True)

In [26]:
t

(3, 'pankaj', 5.3, [3, 2, 'pankaj'], 't', True)

In [16]:
type(t)

tuple

In [18]:
t[2]

5.3

In [27]:
t[2]=2.6

TypeError: 'tuple' object does not support item assignment

In [ ]:
'''Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.'''

In [29]:
var1='pankaj'

In [30]:
var1

'pankaj'

In [31]:
type(var1)

str

In [32]:
v=''

In [33]:
type(v)

str

In [35]:
var2 = '[ DS , ML , Python]'

In [36]:
var2

'[ DS , ML , Python]'

In [37]:
type(var2)

str

In [38]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [39]:
var3

['DS', 'ML', 'Python']

In [40]:
type(var3)

list

In [42]:
var4 = 1

In [43]:
var4

1

In [45]:
type(var4)

int

In [ ]:
'''Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **
               '''

In [47]:
a=7/3    # Quotient

In [48]:
a

2.3333333333333335

In [49]:
b=7%3     # reminder

In [50]:
b

1

In [60]:
c=7//3   # perfect division or quetinent before desimal

In [61]:
c

2

In [66]:
c=4**3   # power

In [67]:
c

64

In [ ]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.   '''

In [80]:
L=['pankaj', 45, 4.5, True, 5+7j, ['p', 4, 5.4], (5, 3.6, True), {}, {'key': 'value'},{3,5,'a'}]

In [81]:
for i in L:
    print(i, type(i))

pankaj <class 'str'>
45 <class 'int'>
4.5 <class 'float'>
True <class 'bool'>
(5+7j) <class 'complex'>
['p', 4, 5.4] <class 'list'>
(5, 3.6, True) <class 'tuple'>
{} <class 'dict'>
{'key': 'value'} <class 'dict'>
{3, 5, 'a'} <class 'set'>

In [82]:
len(L)

10

In [83]:
L

['pankaj',
 45,
 4.5,
 True,
 (5+7j),
 ['p', 4, 5.4],
 (5, 3.6, True),
 {},
 {'key': 'value'},
 {3, 5, 'a'}]

In [ ]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.'''

In [1]:
A,B=int(input('Enter number A:' )),int(input('Enter number B:' ))

while True: 
    if A%B==0:
        print("purly divisial", A ,"by", B)
        print(A//B ,'time divisiable')
        break
    else: 
        print("purly not divisial", A ,"by", B)
        break

Enter number A: 12
Enter number B: 5

purly not divisial 12 by 5

In [ ]:
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [42]:
L6=[1,4,3,6,7,3,22,99,98,998,887,765,43,56,78,8823,54,322,5,6,5,67,3456,653,5]

DB3=[]
NDB3=[]
for i in L6:
    if i % 3==0:
        DB3.append(i)
        print(i ,'is divisiable by 3')
    else: 
        NDB3.append(i)
        print(i ,'is not divisiable by 3')
        
print('these are the list of by divisiable by 3')
print(DB3)
print('these are the list of by not divisible by 4')
print(NDB3)

1 is not divisiable by 3
4 is not divisiable by 3
3 is divisiable by 3
6 is divisiable by 3
7 is not divisiable by 3
3 is divisiable by 3
22 is not divisiable by 3
99 is divisiable by 3
98 is not divisiable by 3
998 is not divisiable by 3
887 is not divisiable by 3
765 is divisiable by 3
43 is not divisiable by 3
56 is not divisiable by 3
78 is divisiable by 3
8823 is divisiable by 3
54 is divisiable by 3
322 is not divisiable by 3
5 is not divisiable by 3
6 is divisiable by 3
5 is not divisiable by 3
67 is not divisiable by 3
3456 is divisiable by 3
653 is not divisiable by 3
5 is not divisiable by 3
these are the list of by divisiable by 3
[3, 6, 3, 99, 765, 78, 8823, 54, 6, 3456]
these are the list of by not divisible by 4
[1, 4, 7, 22, 98, 998, 887, 43, 56, 322, 5, 5, 67, 653, 5]

[3, 6, 3, 99, 765, 78, 8823, 54, 6, 3456]

In [25]:
len(L6)

25

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
'''An object that allows you to change its values without changing its identity is a mutable object. The changes that 
you can perform on a mutable object's value are known as mutations. In contrast, an object that doesn't allow changes
in its value is an immutable object.'''

In [26]:
str='pankaj'

In [29]:
str[4]

'a'

In [30]:
str[4]='A'   # we can't change change the value it is immutable

TypeError: 'str' object does not support item assignment

In [31]:
L7=['pankaj', 'data', 5, 6.3, True, 6+8j]

In [32]:
L7[1]

'data'

In [35]:
L7[1]='Science'    # we can asign the value it is mutable

In [36]:
L7

['pankaj', 'Science', 5, 6.3, True, (6+8j)]